* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
  }
  
  header h1 {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(127, 70, 241);
    color: white;
  }
  
  aside {
    float: left;
    width: 20%;
  }
  
  #fiveDayWeather {
    display: flex;
    flex-wrap: wrap; /* Allow the forecast days to wrap to the next line */
  }
  
  .forecast-day {
    flex: 1;
    margin: 0 5px;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    width: 100%; /* Take up the full width of the container */
  }
  
  #weather,
  #fiveDayWeather {
    outline: solid 1px black;
    float: right;
    width: 70%;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .imgClass {
    width: 50px;
    height: 50px;
  }
  
  #storage button {
    display: block;
    padding: 10px;
    font-size: 16px;
    background-color: rgb(127, 70, 241);
    color: white;
    border: none;
    border-radius: 5px;
    margin: 5px;
    width: 250px;
    cursor: pointer;
  }
  
  #search .search-container {
    display: flex;
    flex-direction: column;
  }
  
  #search-bar,
  #search-btn {
    margin-bottom: 10px;
    margin: 5px;
    width: 250px;
    border-radius: 5px;
    padding: 5px;
  }
  
  #search-btn {
    display: block;
    padding: 5px;
    font-size: 16px;
    color: white;
    background-color: rgb(141, 172, 240);
    border: none;
    border-radius: 5px;
    margin: 5px;
    width: 250px;
    cursor: pointer;
  }
  
  /* Media query for smaller screens */
  @media (max-width: 768px) {
    aside {
      width: 100%;
    }
  
    #weather,
    #fiveDayWeather {
      width: 100%;
    }
  
    .forecast-day {
      margin: 10px 0;
    }
  }
  